header > div {
    border-radius: 1rem;
}

header > div {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;

    font-size: 2rem;

    padding: 1rem;

    background-color: lightblue;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}


span {
    text-decoration: wavy line-through;
}

h2 {
    margin-top: 1rem;
}

.bold {
    font-weight: bold;
    text-decoration: none;
}

.best {
    font-style: italic;
    text-decoration: underline;
}
